<ion-view view-title="Add Collection">
  <ion-content>
    <img class="full-width" class="full-width" src="http://2.bp.blogspot.com/-ZEngAgVhFvQ/U2Nmbhyb5pI/AAAAAAAAAEY/CUW2eddaeB8/s1600/Add+Collection.jpg" alt="old coins on display" />

    <div class="mainContent">
      <p>A collection is a set of related cultural stories. For instance, stories in a collection may relate to a theme or to a neighbourhood. A collection consists of:</p>

      <ol class="bullet">
        <li>an overall description telling what is the collection about</li>
        <li>a set of stories</li>
      </ol>

      <p>The overall description is described in a similar way as any other cultural story using Digitalt fortalt, except that: </p>
      <ol class="bullet">
        <li>The story should not relate to a place! You should not add any geo-location</li>
        <li>You should add the keyword (“Emneord”) “stedr_collection” to the story</li>
      </ol>

      <p>The stories in the collection are described in a similar way as any other cultural story, with an additional rule:</p>
      <ol class="bullet">
        <li>You should add the keyword “collection_<title_of_the_collection>. For instance, to add a story to the collection “Institutions in Kalvskinnet”, the keyword “collection_institutions_in_kalvskinnet” is added.</li>
      </ol>

      <p>Note that any storyteller can thus add a new story to an existing collection. For more information about creating stories, look at “Creating stories for stedr”.</p>
    </div>

  </ion-content>
</ion-view>
