<ion-view view-title="Tutorial">
  <ion-content>
    <img class="full-width" class="full-width" src="http://4.bp.blogspot.com/-vO2f3ChNIKw/U2PVUvi7VHI/AAAAAAAAAGI/ID5LFkGGTTE/s1600/stedr+Tutorial.jpg" alt="old book" />

    <div class="mainContent">
      <p>stedr is about sharing cultural stories related to places.There are many ways to tell stories. stedr combines narratives, pictures and sound tracks.</p>
      <p>Anyone can create new places and stories. This tutorial focuses on discovery. For creation, look at guidelines under Help.</p>

      <h3 class="subheader">Main view</h3>
      <p>The main view has two tabs: Map and Collections. We start explaining the Map view.</p>
    </div>

    <img class="full-width" src="http://1.bp.blogspot.com/-55Qqp_SWwYM/U63OPeXN_0I/AAAAAAAAAOM/m2A4I_FwmCQ/s1600/Tutorial+-+Main+view.png" />

    <div class="mainContent">
      <h3 class="subheader">Navigating in the map</h3>
      <p>Pins on the map represent places. You can navigate in the map in the same way as when using Google Maps.</p>

    </div>

    <img class="full-width" src="http://3.bp.blogspot.com/-arkXT0zZFr4/U63QtLgpgjI/AAAAAAAAAOc/6piJew7tXMI/s1600/Tutorial+-+Navigation.png" />

    <div class="mainContent">
      <h3 class="subheader">Retrieving stories about place</h3>
      <p>Click on pins to retrieve names and thumbnails for places. Click on the pop-up window to retrieve stories related to the selected place.</p>
    </div>

    <img class="full-width" src="http://3.bp.blogspot.com/-rpQOlQpZztc/U63Sp_-y30I/AAAAAAAAAO0/f7aS2JuamPg/s1600/Tutorial+-+Zoom+on+Trondheim.png" />

    <div class="mainContent">


      <p>Switch between narratives, pictures and sounds by selecting a tab.</p>
    </div>

    <img class="full-width" src="http://4.bp.blogspot.com/-jk9unkU-SVE/U63W-1140kI/AAAAAAAAAPI/b5ER5ivdsoo/s1600/Tutorial+-+Stories.png" />

    <div class="mainContent">
      <h3 class="subheader">About stories</h3>
      <p>Stories may consist of different media types: text, photos, videos and audios. The stories are retrieved from Digitalt fortalt.</p>
    </div>

    <img class="full-width" src="http://2.bp.blogspot.com/-rqS4dxdfkvs/U63ZU8ykXII/AAAAAAAAAPc/9CYo5F5f1II/s1600/Tutorial+-+Story+details.png" />

    <div class="mainContent">
      <h3 class="subheader">About pictures</h3>
      <p>The pictures are retrieved from Instagram.</p>


      <h3 class="subheader">About sounds</h3>
      <p>The sound tracks are retrieved from SoundCloud. To retrieve or add comments, open the track in SoundCloud. We recommend you to install the SoundCloud App (rather than using the browser). </p>
    </div>

    <img class="full-width" src="http://1.bp.blogspot.com/-u7el9rbspkA/U63eoKoUqDI/AAAAAAAAAP8/BEwTVKbdCts/s1600/Tutorial+-+Sound+details.png" />

    <div class="mainContent">
      <h3 class="subheader">About collections</h3>
      <p>A collection is group of related stories, e.g., stories related to a theme. To get the list of available collections, select the Collections tab in the Main view. Then click to open a collection.</p>
    </div>

    <img class="full-width" src="http://2.bp.blogspot.com/-aXVT1OuvZck/U63fJvZJrUI/AAAAAAAAAQE/Xlti0qB-NzM/s1600/Tutorial+-+Collections.png" />
  </ion-content>
</ion-view>
