<ion-view view-title="Help">
  <ion-content>
    <div class="stedr-card" style="height: {{ cardHeight }}; widht: {{ cardHeight }};">
      <a href="#/app/help/tutorial">
        <img class="full-width" src="http://4.bp.blogspot.com/-vO2f3ChNIKw/U2PVUvi7VHI/AAAAAAAAAGI/ID5LFkGGTTE/s1600/stedr+Tutorial.jpg" alt="old book" />
        <span style="height: {{ cardTitle }};" class="title">Tutorial</span>
      </a>
    </div>
    <div class="stedr-card" style="height: {{ cardHeight }}; widht: {{ cardHeight }};">
      <a href="#/app/help/about">
        <img class="full-width" src="http://1.bp.blogspot.com/-boAlPhFTSJ8/U2Og5Nviq3I/AAAAAAAAAFU/CPAFPZQYk-U/s1600/stedr+tutorial.png" alt="stedr" />
        <span style="height: {{ cardTitle }};" class="title">About</span>
      </a>
    </div>
    <div class="stedr-card" style="height: {{ cardHeight }}; widht: {{ cardHeight }};">
      <a href="#/app/help/story">
        <img class="full-width" src="http://2.bp.blogspot.com/-7rd9j5lF8CA/U2NmYiv0l8I/AAAAAAAAAEQ/V5y4_gRtIxw/s1600/Add+Story.jpg" alt="old book" />
        <span style="height: {{ cardTitle }};" class="title">Add Story</span>
      </a>
    </div>
    <div class="stedr-card" style="height: {{ cardHeight }}; widht: {{ cardHeight }};">
      <a href="#/app/help/picture">
        <img class="full-width" src="http://2.bp.blogspot.com/-cwri01oMc84/U2PVr3CqnpI/AAAAAAAAAGQ/ZqTupGp0gN0/s1600/Add+Picture.jpg" alt="old book" />
        <span style="height: {{ cardTitle }};" class="title">Add Picture</span>
      </a>
    </div>
    <div class="stedr-card" style="height: {{ cardHeight }}; widht: {{ cardHeight }};">
      <a href="#/app/help/sound">
        <img class="full-width" src="http://4.bp.blogspot.com/-Teg2ekwQYNg/U2pP4eqQ7MI/AAAAAAAAAI8/5mKFctwqHsI/s1600/Add+Sound.jpg" alt="old book" />
        <span style="height: {{ cardTitle }};" class="title">Add Sound</span>
      </a>
    </div>
    <div class="stedr-card" style="height: {{ cardHeight }}; widht: {{ cardHeight }};">
      <a href="#/app/help/place">
        <img class="full-width" src="http://2.bp.blogspot.com/--BRROqP_0DA/U2NZgar_FiI/AAAAAAAAAD0/T36MJSiVVs0/s1600/Creating+a+place.jpg" alt="old book" />
        <span style="height: {{ cardTitle }};" class="title">Add Place</span>
      </a>
    </div>
    <div class="stedr-card" style="height: {{ cardHeight }}; widht: {{ cardHeight }};">
      <a href="#/app/help/collection">
        <img class="full-width" src="http://2.bp.blogspot.com/-ZEngAgVhFvQ/U2Nmbhyb5pI/AAAAAAAAAEY/CUW2eddaeB8/s1600/Add+Collection.jpg" alt="old book" />
        <span style="height: {{ cardTitle }};" class="title">Add Collection</span>
      </a>
    </div>
    <div class="stedr-card" style="height: {{ cardHeight }}; widht: {{ cardHeight }};">
      <a href="#/app/help/tech_news">
        <img class="full-width" src="http://1.bp.blogspot.com/-1YuUGXgjVMI/U2pXafj60hI/AAAAAAAAAJM/0Zz4jZEX4PU/s1600/Tech+news.jpg" alt="old book" />
        <span style="height: {{ cardTitle }};" class="title">Tech News</span>
      </a>
    </div>

  </ion-content>
</ion-view>
