<ion-view view-title="Add Story">
  <ion-content>
    <img class="full-width" class="full-width" src="http://2.bp.blogspot.com/-7rd9j5lF8CA/U2NmYiv0l8I/AAAAAAAAAEQ/V5y4_gRtIxw/s1600/Add+Story.jpg" alt="african tribe woman" />

    <div class="mainContent">
      <p>The cultural stories presented in stedr are retrieved from the Norwegian digital storytelling platform Digitalt fortalt. Digitalt fortalt is a service provided by Arts Council Norway. Both cultural institutions and individuals can create and add stories related to cultural heritage in Digitalt fortalt.</p>
      <p>Creating a story about cultural heritage is a time consuming activity. It requires studying sources, collecting materials, e.g. pictures, and editing text, audio or video. Therefore stedr does not provide any user interface for the creation of stories in Digitalt fortalt. Instead we recommend you to use the web interface provided by Digitalt fortalt. stedr provides support for another way of telling stories using your mobile phone: You can tell a story through a picture (see Add picture) or an audio track (see Add sound).</p>
      <p>If you are not yet a user in Digitalt fortalt, you can easily register a new user. Currently Facebook and Google are also supported.</p>
      <p>Your story in Digitalt fortalt will be retrieved by stedr if you adhere to the following rules:</p>

      <ul class="bullet">
        <li>The story should relate to a place. If the place does not exist, you can create one (see <a href="#/app/help/place">Add Place</a>). Geo-location binds a story to a place. This means that you have to specify a position for your story on the map in Digitalt fortalt. The more you zoom in, the more precise the position will be. The position does not need to be exactly the same as that of the place, but it should be close.</li>
        <li>Currently all stories shared in Digitalt fortalt can be retrieved by applications, independently from the license that was specified by the author of the story. Access may however be restricted in the future, so we recommend you to make use of one of the licenses under Creative Commons. Note that stedr does not modify the story contents. stedr also provides a link to the story in Digitalt fortalt.</li>
      </ul>

      <p>A final recommendation to authors: Make sure that you are allowed to use the pictures, videos and any materials that are exploited in your story. You should also provide the sources you have used to create your story. Digitalt fortalt lets you specify this information.</p>
    </div>

  </ion-content>
</ion-view>
