<ion-view view-title="Add Picture">
  <ion-content>
    <img class="full-width" class="full-width" src="http://2.bp.blogspot.com/-cwri01oMc84/U2PVr3CqnpI/AAAAAAAAAGQ/ZqTupGp0gN0/s1600/Add+Picture.jpg" alt="a city in the sun" />

    <div class="mainContent">
      <p>There are many ways to tell a story. For instance, through a picture. stedr lets you share pictures about a place with other users. It might simply be a way to tell “I’ve been there”. It might also be a way to share a situation or an event you have been witness of.</p>
      <p>The pictures shared in stedr are retrieved from Instagram.</p>
      <p>To share your pictures in stedr, you need a user account on <a href="http://instagram.com">Instagram</a>. Simply add the hashtag #stedr_&lt;name of the place&gt; to your picture in Instagram where &lt;name of the place&gt; is the name of the place without any space.</p>

      <p>We recommend you to add a meaningful description: What is the picture about? When was it taken?</p>
      </ol>
    </div>

  </ion-content>
</ion-view>
