<ion-view view-title="About stedr">
  <ion-content>
    <img class="full-width" src="http://1.bp.blogspot.com/-boAlPhFTSJ8/U2Og5Nviq3I/AAAAAAAAAFU/CPAFPZQYk-U/s1600/stedr+tutorial.png" alt="old book" />

    <div class="mainContent">
      <p>sted (plural steder) is the Norwegian word for place. stedr is a prototype mobile application for discovering digital stories related to places around you. Anyone can create and share new places and new stories.</p>

      <p>stedr is developed in connection to the EU/FP7 IST research project TAG CLOUD. The aim is to engage a wider public in culture heritage. Both digital storytelling and social media are topics addressed by the project, hence the idea of developing an application that combines cultural and social stories.
The idea about stedr was first elaborated by SINTEF ICT. It was then refined and the application was developed through the guidance of students at the Department of Computer and Information Science at NTNU.</p>

      <p>Two student groups have contributed to the development of stedr:</p>
    </div>
    <img class="full-width" src="http://1.bp.blogspot.com/-Ib4HvdxzpmY/U2uOHTitzpI/AAAAAAAAAJc/Jxo99ei9qAc/s1600/TDT4290-2013.jpg" />

    <div class="mainContent">
      <p>from left on the picture) Knut Nergård, Odd-Fredrik Mørch Rogstad, Simon Stastny and Christian Frøystad worked with the initial implementation in the autumn 2013. The students participated to the “Customer Driven Project” course.</p>
    </div>

    <img class="full-width" src="http://2.bp.blogspot.com/-2TcJsFu14u0/U3ohe6_5_bI/AAAAAAAAAJs/CkuuOaaLN-A/s1600/IT2901-2014+cropped.jpg" />

    <div class="mainContent">
      <p>(from left on the picture) Øyvind Hellenes, Jørgen Rugelsjøen Wikdahl, Hallvard Jore Christensen, Tor Økland Barstad, Jon-André Brurberg and Vegard Storm have further developed the application in the spring 2014. The students participated to the “Informatics project” course.</p>
    </div>

  </ion-content>
</ion-view>
