<ion-view view-title="Add Sound">
  <ion-content>
    <img class="full-width" class="full-width" src="http://4.bp.blogspot.com/-Teg2ekwQYNg/U2pP4eqQ7MI/AAAAAAAAAI8/5mKFctwqHsI/s1600/Add+Sound.jpg" alt="two men playing drums" />

    <div class="mainContent">
      <p>There are many ways to tell a story. For instance, through a sound track. stedr lets you share sound tracks about a place with other users. It might also be a way to share a story told by a person or a sound in the environment.</p>
      <p>The sounds shared in stedr are retrieved from SoundCloud. To share your sound track in stedr, you need a user account on SoundCloud. Then follow these steps:</p>

      <ul class="bullet">
        <li>If you are using Android: Open the SoundCloud application on your mobile phone<br>If you are using iPhone: SoundCloud recommends you to use the <a href="http://blog.soundcloud.com/2014/06/26/the-new-soundcloud-iphone-app/">AudioCopy application</a></li>
        <li>Record, clip and save a sound</li>
        <li>Use the keyword “stedr” and the name of the place in the title of your track. <b>You can compose any title you wish, but it should contain both keyword and the place name to be retrieved in stedr</b></li>
        <li>Share the sound track</li>
      </ul>

      <p>Note that it is possible to change any information associated to a sound track through the web interface to SoundCloud on a PC afterwards. <b>We recommend you to add a description to the track: What is the track about? When was it recorded?</b> This cannot yet be done from the mobile application.</p>
    </div>

    <img class="full-width" class="full-width" src="http://3.bp.blogspot.com/-kImHCsBuUGk/U3oy7QH8e_I/AAAAAAAAAKI/IpybLyMidyQ/s1600/SoundCloud+-+web+interface.png" alt="screenshot of adding a sound in soundcloud" />

  </ion-content>
</ion-view>
