<ion-view view-title="Add Place">
  <ion-content>
    <img class="full-width" class="full-width" src="http://2.bp.blogspot.com/--BRROqP_0DA/U2NZgar_FiI/AAAAAAAAAD0/T36MJSiVVs0/s1600/Creating+a+place.jpg" alt="map with annotation" />

    <div class="mainContent">
      <p>The places presented in stedr are retrieved from the Flickr group @StedR. Places are defined by photos and their geo-location. Anyone can create a new place. Before creating a place, make sure it is not already defined!</p>
      <p>To create a new place in stedr, you need a user account on Flickr. Note that your photos will not appear in searches or groups before you add at least 5 public photos to Flickr. Read more on Flickr Help/FAQ.</p>


      <p>Then become a member of the group @StedR. To join:</p>
      <ul class="bullet">
        <li>Search for the group "@StedR" in Flickr, and select the group among the results</li>
        <li>Click on "+ Join Group"</li>
        <li>Read the group rules. The rules relate to requirements on the pictures to be shared (see below)</li>
        <li>Agree with the rules to become a group member</li>
      </ul>

      <p>Before uploading places to stedr, make sure that other people to see your pictures on a map. Check your settings:</p>
      <ul class="bullet">
        <li>Open your settings and select "Privacy & Permissions"</li>
        <li>Under "Defaults for new uploads", check that the answer to "Who will be able to see your stuff on a map" is set to "Anyone". If not, change the setting. In the case you change the setting, log ut and log in again to apply the new setting</li>
      </ul>

      <p>You can now add places to stedr. Follow these steps:</p>
      <ul class="bullet">
        <li>Upload a photo of the place to your photostream on Flickr. For better rendering in stedr, we recommend photos in a landscape format</li>
        <li>Select a license under Creative Commons. The license can be specified as part of "owner settings" in Flickr</li>
        <li>After upload, add a location for the place. Specify a correct and precise location for the photo. To augment precision, use a detailed zoom level on the map</li>
        <li>Provide a short description of the place. This will be shown in stedr</li>
      </ul>

      <p>Added pictures to the group first go into a queue for review. The photos will not be shared in the group before acknowledgement by the group administrator. Note that the group administrator has the right to remove a photo at any time. The administrator can also remove or ban a member.</p>
    </div>

  </ion-content>
</ion-view>
