<ion-view view-title="Tech News">
  <ion-content>
    <img class="full-width" class="full-width" src="http://1.bp.blogspot.com/-1YuUGXgjVMI/U2pXafj60hI/AAAAAAAAAJM/0Zz4jZEX4PU/s1600/Tech+news.jpg" alt="logos os digitalt fortalt, instagram, twitter and soundcloud" />

    <div class="mainContent">
      <p>stedr uses several platforms on the Internet. This post describes shortcomings and changes in these platforms that affect stedr. If you notice that a feature ceases to work properly, give us feedback as a comment to this post.</p>

      <ol class="bullet">
        <li>June 2014 - SoundCloud app: The latest version of SoundCloud app on iPhone (version 3.0) does no longer support recording. SoundCloud recommends you to use the AudioCopy application</li>
        <li>April 2014 - Retrieving places from Flickr: Places are currently stored in Flickr. The interface to Flickr is unstable and occasionally not available. This is why stedr asks you to refresh the map. We are looking for an alternative to Flickr</li>
      </ol>
    </div>

  </ion-content>
</ion-view>
